.home {
    background-image: url('../../assets/homepage.svg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home__logo {
    margin-top: 5vh;
    margin-left: -2%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 200%;
    font-weight: bolder;
    text-decoration: none;
}

.home__covid {
    margin-left: 1vw;
    color: #EC3251;
}

.home__navBar {
    margin-top: 5vh;
    margin-left: 10%;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    font-size: 100%;
}

.home__navBar a {
    padding: 8px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 20px;
}

.home__navBar a:hover,
.home__navBar a:active {
    border-bottom: 2px solid #F75868;
}

.home__hero {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 12vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.home__first {
    border-radius: 20px;
    background-color: #5E29BD;
    width: 18vw;
    height: 7vh;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    padding-top: 10px;
}

.home__second {
    margin-top: 3vh;
    font-size: 500%;
    font-weight: 800;
    word-spacing: 10px;
}

.home__third {
    margin-top: 1vh;
    font-size: 500%;
    font-weight: 800;
    word-spacing: 10px;
}

.home__fourth {
    margin-top: 2vh;
    font-size: 200%;
    font-weight: 300;
    word-spacing: 10px;
    color: #FC9904;
    width: 40vw;
}

.home__checkdata {
    margin-top: 3vh;
}


/* .home__check {
    position: relative;
    margin-top: 66vh;
    margin-left: 10vw;
} */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 15px 35px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    background-color: #F75868;
    border: 1px solid #F75868;
    transition: background-color 0.2s, border 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #f5384b;
    border: 1px solid #f5384b;
}

section {
    margin-top: 25vh;
}

.home__title {
    text-align: center;
    font-size: 150%;
    font-weight: 50;
    margin-bottom: 30px;
}

.home__title h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #2A1774;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.news {
    margin-top: 80px !important;
}

.pic {
    width: 40px;
    margin-left: 10px;
}

footer {
    margin-top: 150px;
}

@media only screen and (max-width:1270px) {
    .home__first {
        border-radius: 10px;
        background-color: #5E29BD;
        width: 18vw;
        height: 7vh;
        font-weight: bold;
        font-size: 150%;
        text-align: center;
        padding-top: 10px;
    }
}

@media only screen and (max-width:1256px) {
    .home__first {
        border-radius: 10px;
        background-color: #5E29BD;
        width: 18vw;
        height: 7vh;
        font-weight: bold;
        font-size: 120%;
        text-align: center;
        padding-top: 10px;
    }
    .home__second {
        margin-top: 3vh;
        font-size: 450%;
        font-weight: 700;
        word-spacing: 5px;
    }
    .home__third {
        margin-top: 1vh;
        font-size: 450%;
        font-weight: 700;
        word-spacing: 5px;
    }
    .home__fourth {
        margin-top: 2vh;
        font-size: 150%;
        font-weight: 200;
        word-spacing: 5px;
        color: #FC9904;
        width: 40vw;
    }
    .home__logo {
        margin-top: 5vh;
        margin-left: -2%;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 150%;
        font-weight: bolder;
        text-decoration: none;
    }
    .home__covid {
        margin-left: 1vw;
        color: #EC3251;
    }
    .home__navBar {
        margin-top: 5vh;
        margin-left: 10%;
        display: flex;
        width: 30vw;
        justify-content: space-around;
        list-style: none;
        text-align: center;
        font-size: 75%;
    }
}

@media only screen and (max-width:1130px) {}

@media only screen and (max-width: 1000px) {
    .home__navbar {
        margin-right: 100px;
    }
}