.home {
    background-image: url("../../assets/homepage.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home__logo {
    margin-top: 5vh;
    margin-left: -1%;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 200%;
    font-weight: bolder;
    text-decoration: none;
}

.home__covid {
    margin-left: 1vw;
    color: #ec3251;
}

.home__navBar {
    margin-top: 5vh;
    margin-left: 10%;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    font-size: 100%;
}

.home__navBar a {
    padding: 8px 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-left: 20px;
}

.home__navBar a:hover,
.home__navBar a:active {
    border-bottom: 2px solid #f75868;
}

.home__hero {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 12vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.home__first {
    border-radius: 20px;
    background-color: #5e29bd;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    padding: 7px;
}

.home__second {
    margin-top: 3vh;
    font-size: 450%;
    font-weight: 800;
    word-spacing: 5px;
}

.home__third {
    margin-top: 1vh;
    font-size: 450%;
    font-weight: 800;
    word-spacing: 5px;
}

.home__fourth {
    margin-top: 2vh;
    font-size: 150%;
    font-weight: 300;
    word-spacing: 5px;
    color: #fc9904;
    width: 40vw;
}

.home__checkdata {
    margin-top: 3.5vh;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 15px 35px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    background-color: #f75868;
    border: 1px solid #f75868;
    transition: background-color 0.2s, border 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #f5384b;
    border: 1px solid #f5384b;
}

section {
    margin-top: 25vh;
}

.home__title {
    text-align: center;
    font-size: 150%;
    font-weight: 50;
    margin-bottom: 30px;
}

.home__title h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #2a1774;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.news {
    margin-top: 80px !important;
}

.pic {
    width: 40px;
    margin-left: 10px;
}

footer {
    margin-top: 150px;
}

@media only screen and (max-width: 1270px) {
    .home__first {
        border-radius: 10px;
        background-color: #5e29bd;
        width: 18vw;
        height: 7vh;
        font-weight: bold;
        font-size: 150%;
        text-align: center;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 1256px) {
    .home__first {
        border-radius: 10px;
        background-color: #5e29bd;
        width: 18vw;
        height: 7vh;
        font-weight: bold;
        font-size: 120%;
        text-align: center;
        padding-top: 10px;
    }
    .home__second {
        margin-top: 3vh;
        font-size: 450%;
        font-weight: 700;
        word-spacing: 5px;
    }
    .home__third {
        margin-top: 1vh;
        font-size: 450%;
        font-weight: 700;
        word-spacing: 5px;
    }
    .home__fourth {
        margin-top: 2vh;
        font-size: 150%;
        font-weight: 200;
        word-spacing: 5px;
        color: #fc9904;
        width: 40vw;
    }
    .home__logo {
        margin-top: 5vh;
        margin-left: -2%;
        display: flex;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 190%;
        font-weight: bolder;
        text-decoration: none;
    }
    .home__covid {
        margin-left: 1vw;
        color: #ec3251;
    }
    .home__navBar {
        margin-top: 5vh;
        margin-left: 10%;
        display: flex;
        width: 30vw;
        justify-content: space-around;
        list-style: none;
        text-align: center;
        font-size: 105%;
    }
}


/* @media only screen and (max-width: 1150px) {
    .home__navBar {
        font-size: 80%;
    }
} */

@media only screen and (max-width: 1090px) {
    .home__first {
        width: 20vw;
    }
}

@media only screen and (max-width: 1038px) {
    .home__navBar {
        width: 400px;
        margin-left: 0%;
    }
    .home__first {
        width: 25vw;
    }
    .home__second {
        font-size: 400%;
    }
    .home__third {
        font-size: 400%;
    }
}

@media only screen and (max-width: 850px) {
    .home__second {
        font-size: 350%;
    }
    .home__third {
        font-size: 350%;
    }
    .home__fourth {
        font-size: 130%;
    }
    .home__logo {
        margin-left: -7%;
    }
    .home__hero {
        margin-left: 4vw;
    }
    .home__navBar {
        width: 400px;
    }
}

@media only screen and (max-width: 790px) {
    .home__first {
        font-size: 110%;
        width: 30vw;
    }
    .home__second {
        font-size: 340%;
    }
    .home__third {
        font-size: 340%;
    }
    .home__fourth {
        font-size: 120%;
    }
    .home__navBar {
        width: 50vw;
    }
    .home__logo {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 780px) {
    .home__navBar {
        width: 60vw;
    }
}

@media only screen and (max-width: 650px) {
    .home {
        background-image: url("../../assets/homepage640.svg");
    }
    .home__logo {
        font-size: 150%;
    }
    .home__navBar {
        width: 400px;
        margin-left: -2%;
    }
}

@media only screen and (max-width: 648px) {
    .home__navBar {
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .home__first {
        width: 35vw;
        font-size: 100%;
    }
    .home__second {
        font-size: 300%;
    }
    .home__third {
        font-size: 300%;
    }
    .home__fourth {
        font-size: 100%;
    }
    .home__navBar {
        width: 400px;
    }
}

@media only screen and (max-width: 562px) {
    .home__logo {
        margin-left: 1%;
        font-size: 140%;
    }
    .home__navBar {
        width: 400px;
        margin-left: -2%;
    }
}

@media only screen and (max-width: 498px) {
    .home__logo {
        font-size: 120%;
    }
    .home__navBar {
        font-size: 80%;
    }
}

@media only screen and (max-width: 470px) {
    .home__first {
        width: 50vw;
        font-size: 110%;
    }
}

@media only screen and (max-width: 450px) {
    .home__first {
        width: 55vw;
    }
    .home__second {
        font-size: 270%;
    }
    .home__third {
        font-size: 270%;
    }
    .home__fourth {
        font-size: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .home__logo {
        margin-left: 2%;
        font-size: 150%;
    }
    .home__navBar {
        margin-left: 0%;
    }
    .home__navBar a {
        margin-left: 10px;
    }
    .home__first {
        width: 60vw;
    }
    .home__second {
        font-size: 320%;
    }
    .home__third {
        font-size: 320%;
    }
    .home__fourth {
        font-size: 140%;
        width: 70vw;
    }
    section {
        margin-top: 45vh;
    }
}

@media only screen and (max-width: 360px) {
    .home {
        background-image: url("../../assets/homepage360.svg");
    }
    .home__first,
    .home__second,
    .home__third,
    .home__fourth {
        display: none;
    }
    .home__logo {
        font-size: 100%;
        margin-left: 2%;
    }
    .home__navBar {
        font-size: 75%;
        margin-left: 0%;
        width: 400px;
    }
    section {
        margin-top: 40vh;
    }
    .home__checkdata {
        margin-top: 40vh;
    }
    .btn:link,
    .btn:visited {
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 150px;
    }
}