.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__logo {
    margin-top: 5vh;
    margin-left: 4%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 200%;
    font-weight: bolder;
    text-decoration: none;
}

.nav__covid {
    margin-left: 1vw;
    color: #EC3251;
}

.navRight {
    margin-top: 5vh;
    margin-left: 35%;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    font-size: 105%;
}

.navRight a {
    padding: 8px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #EC3251;
    margin-left: 20px;
}

.navRight a:hover,
.navRight a:active {
    border-bottom: 2px solid #F75868;
}