.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__logo {
    margin-top: 5vh;
    margin-left: -4%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 200%;
    font-weight: bolder;
    text-decoration: none;
}

.nav__fight {
    color: white;
}

.nav__covid {
    margin-left: 1vw;
    color: #EC3251;
}

.navRight {
    margin-top: 5vh;
    margin-left: 16%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    font-size: 105%;
}

.navRight a {
    padding: 8px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #EC3251;
    margin-left: 20px;
}

.navRight a:hover,
.navRight a:active {
    border-bottom: 2px solid #F75868;
}

@media only screen and (max-width: 800px) {
    .nav__logo {
        margin-left: -3%;
    }
    .navRight {
        font-size: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .nav__logo {
        margin-left: 3%;
    }
    .navRight {
        margin-left: 10%;
    }
}

@media only screen and (max-width:670px) {
    .nav__logo {
        margin-left: -10%;
    }
    .navRight {
        margin-left: -10%;
    }
}

@media only screen and (max-width: 650px) {
    .nav__logo {
        margin-left: 4%;
        font-size: 175%;
    }
    .navRight {
        margin-left: 0%;
        width: 400px;
    }
}

@media only screen and (max-width: 562px) {
    .nav__logo {
        margin-left: 1%;
        font-size: 140%;
    }
    .navRight {
        font-size: 80%;
        width: 250px;
        margin-left: -2%;
    }
}

@media only screen and (max-width: 420px) {
    .nav__logo {
        margin-left: 0%;
        font-size: 140%;
    }
    .navRight {
        margin-left: 5%;
    }
    .navRight a {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .nav__logo {
        font-size: 100%;
        margin-left: 2%;
    }
    .navRight {
        font-size: 75%;
        margin-left: 0%;
        width: 400px;
    }
}