.footer {
    background-color: #301982;
    height: 400px;
}

.footer__icons {
    display: flex;
    height: 370px;
    justify-content: space-around;
    align-items: center;
}

.footer__people,
.footer__house,
.footer__hands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt {
    margin-top: 30px;
    color: white;
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
}

.footer__credits {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
}

@media only screen and (max-width:900px){
    .footer {
        height: 650px;
    }
    .footer__icons{
        flex-direction: column;
        height: 600px;
    }
}

