.footer {
    background-color: #301982;
    height: 400px;
}

.footer__icons {
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.footer__people,
.footer__house,
.footer__hands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt {
    margin-top: 30px;
    color: white;
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
}

.footer__credits {
    margin-top: 50px;
    position: absolute;
    left: 39%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
}