.footer{
    background-image: url('../../assets/wall.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.footer__icons{
    height: 300px;
}

.txt{
    margin-top: 30px;
    position: absolute;
    left: 11.5%;
    color: white;
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
}

.txt1{
    margin-top: 30px;
    position: absolute;
    left: 43%;
    color: white;
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
}

.txt2{
    margin-top: 30px;
    position: absolute;
    left: 73%;
    color: white;
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
}

.footer__credits{
    margin-top: 50px;
    position: absolute;
    left: 39%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
}

