.symptoms__header {
    background-image: url('../../assets/symptoms.svg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.symptoms__hero {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 12vh;
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
}

.symptoms__first {
    margin-top: 5vh;
    font-size: 500%;
    font-weight: 800;
    word-spacing: 10px;
}

.symptoms__second {
    margin-top: 1vh;
    font-size: 500%;
    font-weight: 800;
    word-spacing: 10px;
}

.symptoms__third {
    margin-top: 2vh;
    font-size: 120%;
    font-weight: 300;
    word-spacing: 10px;
    color: #FC9904;
    width: 45vw;
}


/* .symtoms__section {
    margin-top: none !important;
} */

.symptoms__title {
    text-align: center;
    font-size: 150%;
    font-weight: 50;
    margin-bottom: 30px;
}

.symptoms__title h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

.symptomsInfo {
    margin-top: 50px !important;
}

.symptoms__section {
    margin-top: 50px;
}

.symps {
    width: 40px;
    margin-left: 2px;
}